<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/members/address}" method="post">
    <input type="text" name="currentPage" value="1" hidden/> <!-- 요청 변수 설정 (현재 페이지. currentPage : n > 0) -->
    <input type="text" name="countPerPage" value="10" hidden/><!-- 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100) -->
    <input type="text" name="resultType" value="json" hidden/> <!-- 요청 변수 설정 (검색결과형식 설정, json) -->
<!--    <input type="text" name="confmKey" id="confmKey" style="width:250px;display:none" value="TESTJUSOGOKR"/>&lt;!&ndash; 요청 변수 설정 (승인키) &ndash;&gt;-->
    <input type="text" name="keyword" value="" placeholder="주소를 입력해주세요" onclick="enterSearch();"/><!-- 요청 변수 설정 (키워드) -->
    <button type="submit">주소 검색하기 </button>
</form>
</body>
</html>